<!-- RECIPE BOOKMARKER HOMEPAGE  -->
<h1>Welcome to Recipe Bookmarker</h1>
<h2><em>New Recipes Added Daily</em></h2>
<!-- Iterate over Recipe.all to create a list -->
<% @recipes.each do |recipe| %>
  <li> <a href="/recipes/<%= recipe.id %>"> <%= recipe.name %> </a> </li>
<% end %>

<!-- Links to show User's homepage, and to add a new Recipe Bookmark  -->
<a href="/users/<%= @user.id %>/bookmarks"> Go to your Home Page </a>

<a href="/recipes/new"> Add Your New Recipe </a>
